.inspector-section {

    /*
    &.open>.title {
        background-color: @acn-accent-primary-light;
        color:white;
    }

    &:hover>.title {
        background-color: @acn-accent-primary-dark;
        color:white;
    }*/

    .toggle {
        &:hover {
            cursor: pointer;
        }
    }

}